<div class="container">
    <h2>{{mensaje}}</h2>

    {{#if data}}
    <h4>el contenido del archivo {{archivo}}.txt es el siguiente:</h4>
    <p> {{data}} </p>
    {{/if}}
    <a href="/" class="btn btn-primary my-3">Volver</a>
</div>